.buttons{
    width:120px;
          margin:auto;
          display:block;
  }
  .th{
    border: 1px solid;
    
  }
  .td {
    display: flex;
       justify-content: center;
       align-items: center;
       min-height: 100vh;
  }
  .table {
       width:200px; height:150px; border:1px; float:left; margin-right:80px;
   }
  .text { text-align : center; }
  .wrapper {
       display: flex;
       justify-content: center;
       align-items: center;
       min-height: 100vh;
     }
     .tab  {
       border: 1px solid;
       width:200px; height: 500px; 
     }
  
  
  
  
  
  
  
  